<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/index.css' />
    <title>顺义区学生活动管理中心</title>
  </head>
  <body>
  <div id="main"></div>
  <script src="/js/vendors.js"></script>
  <script src="/js/index.js"></script>
  </body>
</html>
