<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
  <div id="main"></div>
  <script src="/js/vendors.js"></script>
  <script src="/js/index.js"></script>
  </body>
</html>
